page-home {
    .intro-title{
        color: #FF0000;
    }

    .intro-p1{
        color: blue;
        font-weight: 600;
    }

    .intro-p2{
        color: #000000;
        font-weight: 600;
    }
}
